<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class='center-container'>
    <div class="sign-in-box">
      <h2>Sign Up</h2>
      <%= form_with(model: @user, local: true) do |form| %>
        <div class="field">
          <%= form.label :username %>
          <%= form.text_field :username %>
        </div>
        <div class="field">
          <%= form.label :email %>
          <%= form.text_field :email %>
        </div>
        <div class="field">
          <%= form.label :password %>
          <%= form.password_field :password %>
        </div>
        <div class="actions center">
          <%= form.submit "Sign Up", class: "btn btn-primary" %>
        </div>
        <div class="new-to-webdropdead">
          Already have an Account? <%= link_to "Sign In", new_session_path %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
 
